.header {
    display: flex;
    height: 100px;
    width: 100%;
    top: 0;
    position: fixed; 
    background-color: rgb(190, 237, 223); 
    z-index: 999;
  }
  
  .headelem_left {
    display: flex;
    flex: 0.4;
    color: rgb(255, 0, 0);
    margin-left: 80px;
    font-size: 16px;
    font-weight: bold;
    margin-top: 20px;
  }
  
  .headelem_right {
    display: flex;
    flex: 0.6;
    padding: 5px;
    justify-content: space-evenly;
    font-size: 12px;
    cursor: pointer;
    margin-top: 20px;
  }
  
  .profile > span > .MuiIconButton-root .MuiSvgIcon-root {
    color: rgb(255, 0, 0);
    font-size: 45px;
    margin-top: 10px;
  }
  