.header
{
    display: flex;
    height: 100px;
    width: 100%;
    top: 0;
    position: sticky;
    background-color: rgba(190, 237, 223, 0.674);
    
}
.headelem_left
{
    display: flex;
    flex: 0.4;
    color: rgb(255, 0, 0);
    margin-left: 80px;
    font-size: 16px;
    font-weight: bold;
}
.headelem_right
{
    display: flex;
    flex: 0.6;
    padding: 5px;
    justify-content: space-evenly;
    font-size: 12px;
    cursor: pointer;
}

.headelem_right > span > .MuiIconButton-root .MuiSvgIcon-root
{
    display: flex;
    color: rgb(255, 0, 0);
    font-size: 40px;
}